@{
    Layout = "~/Views/Shared/_FormGray.cshtml";
}

<div class="wrapper wrapper-content">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <blockquote class="text-warning" style="font-size:14px">
                    <p>
                       欢迎登陆信誉水暖管理后台<br />
                    </p>
                    <p>
                        请根据需要选择左侧菜单进行查看或者操作<br />
                    </p>
                </blockquote>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>系统介绍</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12" style="font-size:14px">
                                <p>
                                    系统包含产品管理，销售统计，采购管理，收据打印等功能，现在仅开放产品管理，其他功能开发中。
                                </p>
                                <p>当前版本：@YiSha.Util.GlobalContext.GetVersion() &nbsp;&nbsp;</p>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>联系信息</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        @*<p>
                                <i class="fa fa-send-o"></i> 官网：<a href="#" target="_blank"></a>
                            </p>*@
                        <p>
                            <i class="fa fa-user"></i> 手机：18018600755
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {

        $(".modal").appendTo("body"), $("[data-toggle=popover]").popover(), $(".collapse-link").click(function () {
            var div_ibox = $(this).closest("div.ibox"),
                e = $(this).find("i"),
                i = div_ibox.find("div.ibox-content");
            i.slideToggle(200),
                e.toggleClass("fa-chevron-up").toggleClass("fa-chevron-down"),
                div_ibox.toggleClass("").toggleClass("border-bottom"),
                setTimeout(function () {
                    div_ibox.resize();
                }, 50);
        }), $(".close-link").click(function () {
            var div_ibox = $(this).closest("div.ibox");
            div_ibox.remove()
        });

        $('#pay-qrcode').click(function () {
            var html = $(this).html();
            ys.openDialogContent({
                content: html,
                width: '600px',
                height: '321px'
            });
        });

    });

</script>
